.column {
  padding: 16px 16px;
  height: 800px;

  background-color: rgb(247, 241, 241);
  border: 6px solid rgb(130, 127, 127);
  border-radius: 15px;
}

.title {
  margin: 0;
  font-size: 20px !important;
  color: #8c8c8c !important;
  text-align: center;
}
