.column {
  position: relative;
  padding: 60px 16px 30px 16px;
  height: 60vh;
  background-color: #f5f8fa;
  border-radius: 15px;
}

.title {
  position: absolute;
  top: 20px;
  left: 20px;

  margin: 0;
  font-size: 20px !important;
  color: #8c8c8c !important;
  text-align: center;
}
